SECRET_KEY=secret_key
POSTGRES_USER=postgresuser
POSTGRES_PASSWORD=postgrespassword
POSTGRES_DB=fastapi-db

DATABASE_URL=postgresql+asyncpg://postgresuser:postgrespassword@db:5432/fastapi-db
REDIS_HOST=redis
REDIS_PORT=6379